main {
  width: 80%;
  height: auto;
  margin: 2%;
  border: 2px solid #000;
}

#Camada1 {
  position: relative;
  width: 20%;
  height: 150px;
  background-color: blue;
  color: #fff;
  text-align: center;
}
